<md-card layout-align="center center">
    Hi {{ctrl.user.email}}!
    <md-list>
        <md-list-item class="md-3-line" ng-repeat="item in ctrl.choices">
            <img ng-src="{{item.picture}}" class="md-avatar" alt="{{item.name}}" />
            <div class="md-list-item-text" layout="column">
                <h3>{{ item.name }}</h3>
                <h4>{{ item.tags }}</h4>
                <p>{{ item.yelp }}</p>
            </div>
            <md-checkbox class="md-secondary" ng-model="topping.choice"></md-checkbox>
        </md-list-item>
    </md-list>
    <div class="md-actions" layout="row" layout-align="center center">
        <md-button class="md-raised md-primary" ng-click="ctrl.vote()">vote</md-button>
    </div>
</md-card>